<%= render "layouts/header" %>

<div class="spacer">
        Name: <%= @person.name %>
        </br>    
        Age: <%= @person.age %>
        </br>    
	<%= link_to "Add equation", "#{@person.id}/new_equation"%>

</div>

<%= link_to "Go Back", individuals_path %>
