<%= render "layouts/header" %>

<div class="spacer" id="info">
        <div> 
                <span>Name: <%= @person.name %></span>
                <span>Age: <%= @person.age %></span>
        </div>
        <%= link_to "Add equation", "#{@person.id}/new_equation", method: :get%>
</div>
<div id="equations">

<%= render 'layouts/equation_table', equations: @person.equations %>


</div>

<%= link_to "Go Back", individuals_path %>
