<%= form_with(model: equation, local: true) do |form| %>
  <% if equation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equation.errors.count, "error") %> prohibited this equation from being saved:</h2>

      <ul>
      <% equation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :a %>
    <%= form.number_field :a %>
  </div>

  <div class="field">
    <%= form.label :b %>
    <%= form.number_field :b %>
  </div>

  <div class="field">
    <%= form.label :c %>
    <%= form.number_field :c %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
