<%= form_with(model: equation, local: true) do |form| %>
  <% if equation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equation.errors.count, "error") %> prohibited this equation from being saved:</h2>

      <ul>
      <% equation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :root1 %>
    <%= form.text_field :root1 %>
  </div>

  <div class="field">
    <%= form.label :root2 %>
    <%= form.text_field :root2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
