<html>
<head>
	<title> Equation </title>
</head>
<body>
  <%= render 'layouts/header' %>
  <h1>Here shall be the equations</h1>
	<table>
		<tr>
			<th> A </th>
			<th> B </th>
			<th> C </th>
		</tr>
    <% @equation.each do |eq|%>
			<tr class="equations" id="<%= eq.id %>">
				<td>
					<span class="eq-constant">
						<%= unless eq.a.nil? then eq.a else 'NaN' end %>&nbsp&nbsp
					</span>				
				</td>
				<td>
					<span class="eq-constant">
						<%= unless eq.b.nil? then eq.b else 'NaN' end %>&nbsp&nbsp
					</span>
				</td>
				<td>
					<span class="eq-constant">
						<%= unless eq.c.nil? then eq.c else 'NaN' end %>
					</span>
				</td>
				<td>
					<%= link_to "show", equation_path(eq)%>
					<%= link_to "edit", edit_equation_path(eq)%>
					<%= link_to 'destroy', equation_path(eq),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
				</td>
			</tr>
		<% end %></br>
	</table>

</body>
</html>
