<title> Equation </title>

<%= render 'layouts/header' %>

<h1> Roots of <%= "ax^2 + bx + c" %> </h1>
<h2>
	a: <%= @equation.a %>
	b: <%= @equation.b %>
	c: <%= @equation.c %>
</h2>
<h2>
	x1: <%= unless @equation.root1.nil? then @equation.root1 else "NaN" end %>
	</br>
	x2: <%= unless @equation.root2.nil? then @equation.root2 else "NaN" end %>
	</br>
	writer:
	<%= unless @equation.writer_id.nil? then
		@equation.writer.name
	else
		link_to "Add writer", "#{@equation.id}/render_writers"
	end %>
</h2>

<%= link_to "Go To Equations", equations_path %>
